<form [formGroup]="studentform">
        <h3><ins>Student Information</ins></h3>
        <label for="">Name: </label>
        <input type="text" formControlName="name">
        <br>
        <label for="">Gender: </label>
        <input type="radio" formControlName="gender" value="male">
        <label for="">Male </label>
        <input type="radio" formControlName="gender" value="female">
        <label for="">Female </label>
        <br>
        <label for="">Mobile: </label>
        <input type="number" formControlName="mobile">
        <br>
        <label for="">Email: </label>
        <input type="email" formControlName="email">
        <br>
        <label for="">Batch: </label>
        <input type="date" formControlName="batch">
        <br><br>
        <div formGroupName="address">
            <h3><ins>Student Address</ins></h3>
            <label for="">City: </label>
            <input type="text" formControlName="city">
            <br>
            <label for="">Mandal: </label>
            <input type="text" formControlName="mandal">
            <br>
            <label for="">District: </label>
            <input type="text" formControlName="district">
            <br>
            <label for="">State: </label>
            <input type="text" formControlName="state">
            <br>
            <label for="">Pincode: </label>
            <input type="number" formControlName="pincode">
            <br>
        </div>
        <br>
        <div formArrayName="education">
            <h3><ins>Education</ins></h3>
            <div *ngFor="let educations of educationFormArray.controls; let i=index">
                <div formGroupName="{{i}}">
                    <h4>Education{{i+1}}</h4>
                   <label for="">Qualification: </label>
                   <input type="text" formControlName="qualification">
                   <br>
                   <label for="">Year: </label>
                   <input type="number" formControlName="year">
                   <br>
                   <label for="">Percentage: </label>
                   <input type="number" formControlName="percentage">
                   <br><br>
                   <button class="btn btn-danger" (click)="delete(i)">Delete</button>
                </div>
            </div>   
        </div>
        <br>
        <button class="btn btn-info" (click)="add()">Add</button>
        <br><br>
        <div formGroupName="company">
            <h3><ins>Company</ins></h3>
            <label for="">Name: </label>
            <input type="text" formControlName="name">
            <br>
            <label for="">Location: </label>
            <input type="text" formControlName="location">
            <br>
            <label for="">Package: </label>
            <input type="number" formControlName="package">
            <br>
            <label for="">OfferDate: </label>
            <input type="date" formControlName="offerDate">
            <br>
        </div>
        <br>
        <div>
            <h3><ins>Dynamic Field</ins></h3>
            <label for="">SourceType: </label>
            <input type="radio" value="direct" formControlName="sourcetype">
            <label for="">Direct </label>
            <input type="radio" value="refer" formControlName="sourcetype">
            <label for="">Refer </label>
        </div>
        <div *ngIf="studentform.get('sourcetype')?.value=='direct'">
            <label for="">SourceForm: </label>
            <select name="" id="" formControlName="sourceform">
                <option value="">select</option>
                <option value="">Social media</option>
                <option value="">office</option>
            </select>
        </div>
        <div *ngIf="studentform.get('sourcetype')?.value=='refer'">
            <label for="">ReferralName: </label>
            <input type="text" formControlName="referralname">
        </div>
        <br>
        <button class="btn btn-warning" (click)="submit()">Submit</button>
</form>
